<h3>Add New Sealion</h3>

  <form action="/sealions/new" method="post">
    First name: <input type="text" name="first_name"><br>
    Last name: <input type="text" name="last_name"><br>
    Age: <input type="text" name="age"><br>
    Location: <input type="text" name="location"><br>
    Quirk: <input type="text" name="quirk"><br>
    <input type="submit" value="Add">
  </form>